
.ui-galleries {
    padding: 0;
    margin-left: -1.6em;
    list-style: none;
}

.ui-galleries:after {
    display: table;
    clear: both;
    content: '';
}

.ui-galleries-sizer,
.ui-galleries-item {
    width: 100%;
}

@media screen and (min-width: 30em) {
    .ui-galleries-sizer,
    .ui-galleries-item {
        width: 50%;
    }    
}

@media screen and (min-width: 48em) {
    .ui-galleries-sizer,
    .ui-galleries-item {
        width: 33.3%;
    }    
}

@media screen and (min-width: 64em) {
    .ui-galleries-sizer,
    .ui-galleries-item {
        width: 25%;
    }    
}

.ui-galleries-item {
    padding-left: 1.6em;
    margin-bottom: 1.6em;
}

.ui-gallery {
    margin: 0;
}

.ui-gallery img {
    width: 100%;
}
